.faq {
  padding: 0 16px;
  margin-bottom: 60px;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $main-black;
}

.faq__sub-title {
  color: $main-red;
}

.faq__title {
  font-family: $side-text;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  margin: 0px;
  margin-bottom: 20px;
}

.faq__item {
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  margin-bottom: 10px;

  box-shadow: 0 6px 9px -4px rgba(0, 0, 0, 0.39);

  &:hover,
  &:focus {
    box-shadow: 0 9px 9px -4px rgba(0, 0, 0, 0.79);
  }

  &--active {
    box-shadow: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.faq__title-wrapper {
  padding: 14.5px 8px;
  cursor: pointer;
  border-radius: 4px;

  &--active {
    background-color: $main-red;
    color: $white;
  }
}

.faq__item-title {
  font-family: $side-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  margin: 0;
  display: flex;
  align-items: center;
}

.faq__hiding-text {
  padding: 14px 8px;
  display: none;

  &--active {
    display: block;
  }
}

.faq__item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $faq-text-grey;

  padding-left: 9px;
  border-left: 1px solid $main-red;
}

.faq__item-arrow {
  position: relative;
  margin-left: 10px;
  margin-bottom: 3px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: $main-red;
  transform: rotate(45deg);
  transition-duration: 0.3s;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color:$white;
    top: -1px;
    left: -1px;
  }

  &--active {
    transform: rotate(225deg);
    margin-bottom: -5px;
    background-color: $white;

    &:after {
      background-color: $main-red;
    }
  }
}


