.gallery-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-modal__slider {
  margin-bottom: 12px;
  height: 340px;
}

.gallery-modal:target {
  opacity: 1;
  pointer-events: auto;
}

.gallery-modal__dialog {
  position: relative;
  width: auto;
  margin: 16px;
  background: $white;
}

.gallery-modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-clip: padding-box;
}

.gallery-modal__close-button {
  position: absolute;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  top: -12px;
  right: -12px;
  width: 40px;
  height: 40px;
  transition-duration: 0.3s;
  z-index: 5;
  background-color: $slider-button-background;
  color: $close-button-color;
  border-radius: 2px;

  &:focus,
  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }

  &:active {
    opacity: 0.3;
  }
}

.gallery-modal__body {
  width: 320px;
}

.gallery-modal__prev {
  left: -10px;
  top: 163px;

  &:after {
    color: $close-button-color;
  }
}

.gallery-modal__next {
  right: -10px;
  top: 163px;

  &:after {
    color: $close-button-color;
  }
}

.gallery-modal__text-wrapper {
  padding: 0 12px;
  padding-bottom: 12px;
}

.gallery-modal__subtitle-date-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.gallery-modal__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $main-red;
  width: 190px;
}

.gallery-modal__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $faq-text-grey;
  max-width: 85px;
}

.gallery-modal__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
  margin-bottom: 12px;
}

.gallery-modal__text {
  height: 100px;
  overflow: auto;
}

.gallery-modal__text-red {
  color: $main-red;
  text-decoration: underline;
}

.gallery-modal__slider-item {
  height: 320px;
}
