.main-body {
  padding: 0 50px;
}


.main-body__filter-block {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.main-body__aparts {
  margin-bottom: 22px;
}

.main-body__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  min-height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;


  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  background-color: transparent;
  border: 1px solid $border-grey;
  border-radius: 50px;

  transition-duration: 0.3s;

  &:hover,
  &:focus {
    border-color: $border-hover;
  }

  &:active {
    transform: scale(0.9);
  }

  & svg {
    margin-left: 5px;
    padding-top: 2px;
  }
}


@media (max-width: $tablet-only) {
  .main-body {
    padding: 0
  }

  .main-body__filter-block {
    margin-left: 20px;
  }
}

@media (max-width: $mobile-only) {
  .main-body__filter-block {
    margin-left: 0;
  }
}
