.main-header {
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 30px;
}

.main-header__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: $title-green;
  margin: 0;
  margin-left: 399px;
}
