.main-body {
}

.main-body__video-wrapper {
  background-image: url("../img/dots_background.svg"), url("../img/circle_background.svg");
  background-repeat: no-repeat;
  background-size: 82px 44px, 125px 125px;
  background-position: 287px 6px, -7px 151px;

  padding: 0 16px;
  padding-top: 17px;
  box-sizing: border-box;

  width: 100%;
  min-height: 253px;
}

.main-body__video-block {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 200px;
  border: 3px solid $border-red;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;

  & iframe {
    border-radius: 8px;
  }
}
