.main-footer__text-wrapper {
  padding: 0 16px;
}

.main-footer__sub-title {
  color: $main-red;
}

.main-footer__title {
  font-family: $side-text;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  margin: 0px;
  margin-bottom: 20px;
}
