.main-header {
  padding-top: 39px;
  padding-bottom: 43px;
}

.main-header__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: $title-green;
  margin: 0;
  margin-left: 399px;
}

@media (max-width: $tablet-only) {
  .main-header__title {
    margin-left: 120px;
  }
}


@media (max-width: $mobile-only) {
  .main-header__title {
    margin: 0
  }
}
