.news {
  padding: 0 16px;
  margin-bottom: 60px;

  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $main-black;
  background-color: $white;
}

.news__sub-title {
  color: $main-red;
}

.news__title {
  font-family: $side-text;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  margin: 0px;
  margin-bottom: 20px;
}

.news__services {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $main-red;

  margin-bottom: 4px;
}

.news__link {
  margin-bottom: 30px;
  flex-direction: column;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 315px;
    left: 5px;

    background-image: url("../img/white-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }


  &:hover,
  &:focus {
    box-shadow: 0 6px 9px -4px rgba(0, 0, 0, 0.39);
  }
}

.news__text-wrapper {
  padding: 20px 8px;
}

.news__item {
  margin-bottom: 20px;
  background-color: $main-background;

  &:last-child {
    margin-bottom: 0;
  }
}

.news__item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  margin: 0;
  margin-bottom: 8px;
}

.news__item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  margin-bottom: 20px;
}

.news__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $faq-text-grey;
}

.news__button {
  background-color: transparent;
  outline: none;
  border: 1px solid $main-red;
  border-radius: 6px;

  width: 100%;
  min-height: 18px;
  padding: 11px;

  font-family: $font-primary;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $main-red;

  transition-duration: 0.3s;

  &:hover,
  &:focus {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.99);
  }
}
