.photo-booth__title {
  padding: 0 16px;
}

.photo-booth__filter-wrapper {
  padding: 0 16px;
}

.photo-booth__item {
  background-color: $white;
  padding: 0 16px;
}

.photo-booth__slider {
  width: 292px;
  min-height: 222px;
}
