.photo-booth {
  margin-bottom: 62px;
}

.photo-booth__title {
  padding: 0 16px;
  margin: 0;
  margin-bottom: 19px;
  font-family: $side-text;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}

.photo-booth__filter-wrapper {
  padding: 0 16px;
  margin-bottom: 4px;
  display: flex;
  align-items: baseline;

  min-height: 32px;

  font-family: $font-primary;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.photo-booth__filter-text {
  color: $main-black;
  margin-right: 5px;
}

.photo-booth__filter-select,
.photo-booth__select-default-value {
  color: $text-grey;
}

.photo-booth__select-default-value {
  cursor: pointer;
}

.photo-booth__filter-select {
  display: none;
}

.photo-booth__filter-item {
  cursor: pointer;
  transition-duration: 0.2s;

  &:hover,
  &:focus {
    background-color: $main-red;
    color: $white;
  }
}

.photo-booth__item {
  background-color: $white;
  padding: 0 16px;
  box-shadow: 0 4px 5px -4px rgba(0, 0, 0, 39%);
}

.photo-booth__slider {
  width: 292px;
  min-height: 222px;
}
