.photo-booth {
  margin-bottom: 62px;
}

.photo-booth__title {
  padding: 0 16px;
  margin: 0;
  margin-bottom: 19px;
  font-family: $side-text;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}

.photo-booth__filter-wrapper {
  padding: 0 16px;
  margin-bottom: 4px;
  display: flex;
  align-items: flex-start;

  min-height: 32px;

  font-family: $font-primary;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.photo-booth__filter-text {
  color: $main-black;
  margin-right: 5px;
}

.photo-booth__filter-select,
.photo-booth__select-default-value {
  color: $text-grey;
}

.photo-booth__filter-select {
  display: none;
}

.photo-booth__filter-item,
.photo-booth__select-default-value {
  cursor: pointer;
  transition-duration: 0.2s;
  border-radius: 6px;
  padding: 0 5px;
  min-width: 117px;

  &:hover,
  &:focus {
    background-color: $main-red;
    color: $white;
  }
}

.photo-booth__item {
  background-color: $white;
  padding: 0 16px;
  padding-top: 16px;
  padding-bottom: 18px;
  margin-bottom: 30px;
  box-shadow: 0 4px 3px -4px rgba(0, 0, 0, 39%);
}

.photo-booth__filter-arrow {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
  margin-top: 0;
  display: block;
  width: 10px;
  height: 10px;
  background-color: $main-black;
  transform: rotate(45deg);
  transition-duration: 0.3s;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    background-color:$white;
    top: -1px;
    left: -1px;
  }

  &--active {
    transform: rotate(225deg);
    margin-top: 5px;
  }
}
