.slider {
  margin: 0;
  width: 100%;
  height: 238px;

  & .slider__pagination {
    bottom: -2px;
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 4px;
  border-radius: 10px;
  transition-duration: 0.3s;

  &-active {
    background-color: $main-red;
    transform: scale(1.2);
  }
}

.slider__wrapper {
  height: 222px;
}

.slider__item {

  & img {
    height: 100%;
    object-fit: cover;
  }
}

.slider__next,
.slider__prev {
  background-color: $slider-button-background;
  border-radius: 2px;
  width: 40px;
  height: 40px;

  &:after {
    font-size: 28px;
    color: $white;
  }
}
