.video-block {
  position: relative;
  background-image: url("../img/dots_background.svg");
  background-repeat: no-repeat;
  background-size: 82px 44px;
  background-position: 287px 6px;

  padding: 0 16px;
  padding-top: 17px;
  margin-bottom: 20px;
  box-sizing: border-box;

  width: 100%;
  min-height: 253px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 125px;
    height: 125px;
    background-color: $main-red;
    border-radius: 150px;
    top: 125px;
    left: 5px;
    z-index: -1;
    box-shadow: 0px 0px 45px -10px $main-red;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 85px;
    height: 85px;
    background-color: $white;
    border-radius: 150px;
    top: 145px;
    left: 25px;
    z-index: -1;
  }
}

.video-block__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;

  width: 100%;
  min-height: 200px;
  border: 3px solid $main-red;
  border-radius: 8px;
  box-sizing: border-box;
}

.video-block__inner-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  width: 100%;
  height: 188px;


  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 188px;
  object-fit: cover;
  transition-duration: 0.3s;

  :hover .video-block__button {
    opacity: 0.2;
  }
}

.video-block__button {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: $white;
  border-radius: 70px;
  transition-duration: 0.3s;

  &:before {
    content: '';
    position: absolute;
    background-image: url("../img/play_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 17px;
    top: 26px;
    left: 30px;
  }
}


.video-block__inner-block:hover .video-block__button,
.video-block__inner-block:focus .video-block__button {
  transform: scale(1.05);
}

.video-block__inner-block:active .video-block__button {
  transform: scale(0.95);
}
