html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: flex;

  width: 100%;
  height: 100%;

  text-decoration: none;

  color: inherit;

  justify-content: center;
  align-items: center;
}

.body-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  color: $main-black;

  margin: 0 auto;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: $mobile-width;
  margin: 0 auto;

  //background-color: $main-background;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: $main-red;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}
