// widths
$mobile-width: 375px;

//colors
$main-black: #131313;
$main-red: #EE3D48;
$main-background: #FAFAFA;
$white: #FFFFFF;
$border-gray: #EBEBEB;
$text-grey: #939598;
$rent-time-grey: #F1F2F2;
$faq-text-grey: #6A6A6A;
$footer-border-grey: #D5DAE0;
$slider-button-background: rgba(0, 0, 0, 0.24);
$close-button-color: rgba(255, 255, 255, 0.5);
$select-background: #F5F5F5;

//font-family
$font-primary: "Work Sans",
"Arial",
sans-serif;
$side-text: "Roboto Slab",
"Arial",
sans-serif;
$roboto: "Roboto",
"Arial",
sans-serif;

//retina stats
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//animation
