// widths
$mobile-width: 375px;

//colors
$title-green: #45852D;
$main-black: #363636;
$border-red: #EE3D48;
$border-hover: #007aff;
$white: #ffffff;
$background-color-dark-green: #006F79;
$background-color-orange: #EC6608;
$error-background-red: #FFCCCC;


//font-family
$font-primary: "Work Sans",
"Arial",
sans-serif;
$side-text: "Roboto Slab",
"Arial",
sans-serif;

//retina stats
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//animation
