// widths
$mobile-width: 375px;

//colors
$main-black: #131313;
$main-red: #EE3D48;
$main-background: #FAFAFA;
$white: #ffffff;
$border-gray: #EBEBEB;
$text-grey: #939598;

//font-family
$font-primary: "Work Sans",
"Arial",
sans-serif;
$side-text: "Roboto Slab",
"Arial",
sans-serif;

//retina stats
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//animation
